
    p {
      margin-top: var(--spacing)
    }
  .a { font-weight: bold; font-style: italic; }
.b {
background: #ff8000;
color: #111;
}
@media (min-width: 100px) {
.c {
font-size: 5em;
}
}
.c::after {
content: !;
}
