
  p {
    margin-top: var(--spacing)
  }

  .a {
    padding: 1em;
  }
.b { font-weight: bold; font-style: italic; }.c::after { content: '!'; }.d { background-color: #ff8000; color: #111; } @media (min-width: 100px) {  @supports (display: grid) { .e { display: grid; } } .c { font-size: 5em; }.c::after { content: '!!'; }.e { display: flex; } } 