*, *::before, *::after { box-sizing: inherit; }
.border-box { box-sizing: border-box; }
.content-box { box-sizing: content-box; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.nowrap { white-space: nowrap; }
.pre { white-space: pre; }
.normal { white-space: normal; }
.list-style-none { list-style: none; }
.overflow-scroll { overflow: scroll; }
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }
.overflow-visible { overflow: visible; }
.right { float: right; }
.left { float: left; }
.border-solid {
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
.border-top-solid { border-top-style: solid; }
.border-right-solid { border-right-style: solid; }
.border-bottom-solid { border-bottom-style: solid; }
.border-left-solid { border-left-style: solid; }
.grid { display: grid; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.flex-auto { flex: auto; }
.flex-initial { flex: initial; }
.flex-none { flex: none; }
.row { flex-direction: row; }
.row-reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.column-reverse { flex-direction: column-reverse; }
.wrap { flex-wrap: wrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.items-stretch { align-items: stretch; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.content-around { align-content: space-around; }
.content-between { align-content: space-between; }
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-stretch { align-content: stretch; }
.self-stretch { align-self: stretch; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }
.none { display: none; }
.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }
.sticky { position: sticky; }
.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.auto-flow-row { grid-auto-flow: row; }
.auto-flow-column { grid-auto-flow: column; }
.auto-flow-dense { grid-auto-flow: dense; }
.auto-flow-row-dense { grid-auto-flow: row dense; }
.auto-flow-column-dense { grid-auto-flow: column dense; }
.height { height: var(--height); }
.min-height { min-height: var(--height); }
.max-height { max-height: var(--height); }
.height-more { height: var(--height-more); }
.min-height-more { min-height: var(--height-more); }
.max-height-more { max-height: var(--height-more); }
.width { width: var(--width); }
.min-width { min-width: var(--width); }
.max-width { max-width: var(--width); }
.width-more { width: var(--width-more); }
.min-width-more { min-width: var(--width-more); }
.max-width-more { max-width: var(--width-more); }
.margin {
  margin-top: var(--margin);
  margin-right: var(--margin);
  margin-bottom: var(--margin);
  margin-left: var(--margin);
}
.margin-x {
  margin-right: var(--margin);
  margin-left: var(--margin);
}
.margin-y {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.margin-top { margin-top: var(--margin); }
.margin-right { margin-right: var(--margin); }
.margin-bottom { margin-bottom: var(--margin); }
.margin-left { margin-left: var(--margin); }
.margin-more {
  margin-top: var(--margin-more);
  margin-right: var(--margin-more);
  margin-bottom: var(--margin-more);
  margin-left: var(--margin-more);
}
.margin-x-more {
  margin-right: var(--margin-more);
  margin-left: var(--margin-more);
}
.margin-y-more {
  margin-top: var(--margin-more);
  margin-bottom: var(--margin-more);
}
.margin-top-more { margin-top: var(--margin-more); }
.margin-right-more { margin-right: var(--margin-more); }
.margin-bottom-more { margin-bottom: var(--margin-more); }
.margin-left-more { margin-left: var(--margin-more); }
.margin-x-auto {
  margin-right: auto;
  margin-left: auto;
}
.margin-right-auto { margin-right: auto; }
.margin-left-auto { margin-left: auto; }
.padding {
  padding-top: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
  padding-left: var(--padding);
}
.padding-x {
  padding-right: var(--padding);
  padding-left: var(--padding);
}
.padding-y {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.padding-top { padding-top: var(--padding); }
.padding-right { padding-right: var(--padding); }
.padding-bottom { padding-bottom: var(--padding); }
.padding-left { padding-left: var(--padding); }
.padding-more {
  padding-top: var(--padding-more);
  padding-right: var(--padding-more);
  padding-bottom: var(--padding-more);
  padding-left: var(--padding-more);
}
.padding-x-more {
  padding-right: var(--padding-more);
  padding-left: var(--padding-more);
}
.padding-y-more {
  padding-top: var(--padding-more);
  padding-bottom: var(--padding-more);
}
.padding-top-more { padding-top: var(--padding-more); }
.padding-right-more { padding-right: var(--padding-more); }
.padding-bottom-more { padding-bottom: var(--padding-more); }
.padding-left-more { padding-left: var(--padding-more); }
.gap { grid-gap: var(--gap); }
.row-gap { grid-row-gap: var(--gap); }
.column-gap { grid-column-gap: var(--gap); }
.gap-more { grid-gap: var(--gap-more); }
.row-gap-more { grid-row-gap: var(--gap-more); }
.column-gap-more { grid-column-gap: var(--gap-more); }
.font-size { font-size: var(--font-size); }
.font-size-more { font-size: var(--font-size-more); }
@media (--breakpoint-desktop) {
.desktop-grid { display: grid; }
.desktop-flex { display: flex; }
.desktop-inline-flex { display: inline-flex; }
.desktop-flex-auto { flex: auto; }
.desktop-flex-initial { flex: initial; }
.desktop-flex-none { flex: none; }
.desktop-row { flex-direction: row; }
.desktop-row-reverse { flex-direction: row-reverse; }
.desktop-column { flex-direction: column; }
.desktop-column-reverse { flex-direction: column-reverse; }
.desktop-wrap { flex-wrap: wrap; }
.desktop-wrap-reverse { flex-wrap: wrap-reverse; }
.desktop-justify-around { justify-content: space-around; }
.desktop-justify-between { justify-content: space-between; }
.desktop-justify-evenly { justify-content: space-evenly; }
.desktop-justify-start { justify-content: flex-start; }
.desktop-justify-end { justify-content: flex-end; }
.desktop-justify-center { justify-content: center; }
.desktop-items-stretch { align-items: stretch; }
.desktop-items-start { align-items: flex-start; }
.desktop-items-end { align-items: flex-end; }
.desktop-items-center { align-items: center; }
.desktop-items-baseline { align-items: baseline; }
.desktop-content-around { align-content: space-around; }
.desktop-content-between { align-content: space-between; }
.desktop-content-start { align-content: flex-start; }
.desktop-content-end { align-content: flex-end; }
.desktop-content-center { align-content: center; }
.desktop-content-stretch { align-content: stretch; }
.desktop-self-stretch { align-self: stretch; }
.desktop-self-start { align-self: flex-start; }
.desktop-self-end { align-self: flex-end; }
.desktop-self-center { align-self: center; }
.desktop-self-baseline { align-self: baseline; }
.desktop-inline { display: inline; }
.desktop-inline-block { display: inline-block; }
.desktop-block { display: block; }
.desktop-none { display: none; }
.desktop-relative { position: relative; }
.desktop-absolute { position: absolute; }
.desktop-static { position: static; }
.desktop-fixed { position: fixed; }
.desktop-sticky { position: sticky; }
.desktop-top-0 { top: 0; }
.desktop-right-0 { right: 0; }
.desktop-bottom-0 { bottom: 0; }
.desktop-left-0 { left: 0; }
.desktop-align-center { text-align: center; }
.desktop-align-left { text-align: left; }
.desktop-align-right { text-align: right; }
.desktop-auto-flow-row { grid-auto-flow: row; }
.desktop-auto-flow-column { grid-auto-flow: column; }
.desktop-auto-flow-dense { grid-auto-flow: dense; }
.desktop-auto-flow-row-dense { grid-auto-flow: row dense; }
.desktop-auto-flow-column-dense { grid-auto-flow: column dense; }
.desktop-height { height: var(--height); }
.desktop-min-height { min-height: var(--height); }
.desktop-max-height { max-height: var(--height); }
.desktop-height-more { height: var(--height-more); }
.desktop-min-height-more { min-height: var(--height-more); }
.desktop-max-height-more { max-height: var(--height-more); }
.desktop-width { width: var(--width); }
.desktop-min-width { min-width: var(--width); }
.desktop-max-width { max-width: var(--width); }
.desktop-width-more { width: var(--width-more); }
.desktop-min-width-more { min-width: var(--width-more); }
.desktop-max-width-more { max-width: var(--width-more); }
.desktop-margin {
  margin-top: var(--margin);
  margin-right: var(--margin);
  margin-bottom: var(--margin);
  margin-left: var(--margin);
}
.desktop-margin-x {
  margin-right: var(--margin);
  margin-left: var(--margin);
}
.desktop-margin-y {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.desktop-margin-top { margin-top: var(--margin); }
.desktop-margin-right { margin-right: var(--margin); }
.desktop-margin-bottom { margin-bottom: var(--margin); }
.desktop-margin-left { margin-left: var(--margin); }
.desktop-margin-more {
  margin-top: var(--margin-more);
  margin-right: var(--margin-more);
  margin-bottom: var(--margin-more);
  margin-left: var(--margin-more);
}
.desktop-margin-x-more {
  margin-right: var(--margin-more);
  margin-left: var(--margin-more);
}
.desktop-margin-y-more {
  margin-top: var(--margin-more);
  margin-bottom: var(--margin-more);
}
.desktop-margin-top-more { margin-top: var(--margin-more); }
.desktop-margin-right-more { margin-right: var(--margin-more); }
.desktop-margin-bottom-more { margin-bottom: var(--margin-more); }
.desktop-margin-left-more { margin-left: var(--margin-more); }
.desktop-margin-x-auto {
  margin-right: auto;
  margin-left: auto;
}
.desktop-margin-right-auto { margin-right: auto; }
.desktop-margin-left-auto { margin-left: auto; }
.desktop-padding {
  padding-top: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
  padding-left: var(--padding);
}
.desktop-padding-x {
  padding-right: var(--padding);
  padding-left: var(--padding);
}
.desktop-padding-y {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.desktop-padding-top { padding-top: var(--padding); }
.desktop-padding-right { padding-right: var(--padding); }
.desktop-padding-bottom { padding-bottom: var(--padding); }
.desktop-padding-left { padding-left: var(--padding); }
.desktop-padding-more {
  padding-top: var(--padding-more);
  padding-right: var(--padding-more);
  padding-bottom: var(--padding-more);
  padding-left: var(--padding-more);
}
.desktop-padding-x-more {
  padding-right: var(--padding-more);
  padding-left: var(--padding-more);
}
.desktop-padding-y-more {
  padding-top: var(--padding-more);
  padding-bottom: var(--padding-more);
}
.desktop-padding-top-more { padding-top: var(--padding-more); }
.desktop-padding-right-more { padding-right: var(--padding-more); }
.desktop-padding-bottom-more { padding-bottom: var(--padding-more); }
.desktop-padding-left-more { padding-left: var(--padding-more); }
.desktop-gap { grid-gap: var(--gap); }
.desktop-row-gap { grid-row-gap: var(--gap); }
.desktop-column-gap { grid-column-gap: var(--gap); }
.desktop-gap-more { grid-gap: var(--gap-more); }
.desktop-row-gap-more { grid-row-gap: var(--gap-more); }
.desktop-column-gap-more { grid-column-gap: var(--gap-more); }
.desktop-font-size { font-size: var(--font-size); }
.desktop-font-size-more { font-size: var(--font-size-more); }
}
.blue,
.placeholder-blue::placeholder,
.hover-blue:hover,
.active-blue:active,
.focus-blue:focus {
  color: var(--blue);
}
.background-blue,
.hover-background-blue:hover,
.active-background-blue:active,
.focus-background-blue:focus {
  background-color: var(--blue);
}
.border-blue {
  border-top-color: var(--blue);
  border-right-color: var(--blue);
  border-bottom-color: var(--blue);
  border-left-color: var(--blue);
}
.border-top-blue { border-top-color: var(--blue); }
.border-right-blue { border-right-color: var(--blue); }
.border-bottom-blue { border-bottom-color: var(--blue); }
.border-left-blue { border-left-color: var(--blue); }
.gray,
.placeholder-gray::placeholder,
.hover-gray:hover,
.active-gray:active,
.focus-gray:focus {
  color: var(--gray);
}
.background-gray,
.hover-background-gray:hover,
.active-background-gray:active,
.focus-background-gray:focus {
  background-color: var(--gray);
}
.border-gray {
  border-top-color: var(--gray);
  border-right-color: var(--gray);
  border-bottom-color: var(--gray);
  border-left-color: var(--gray);
}
.border-top-gray { border-top-color: var(--gray); }
.border-right-gray { border-right-color: var(--gray); }
.border-bottom-gray { border-bottom-color: var(--gray); }
.border-left-gray { border-left-color: var(--gray); }
.orange,
.placeholder-orange::placeholder,
.hover-orange:hover,
.active-orange:active,
.focus-orange:focus {
  color: var(--orange);
}
.background-orange,
.hover-background-orange:hover,
.active-background-orange:active,
.focus-background-orange:focus {
  background-color: var(--orange);
}
.border-orange {
  border-top-color: var(--orange);
  border-right-color: var(--orange);
  border-bottom-color: var(--orange);
  border-left-color: var(--orange);
}
.border-top-orange { border-top-color: var(--orange); }
.border-right-orange { border-right-color: var(--orange); }
.border-bottom-orange { border-bottom-color: var(--orange); }
.border-left-orange { border-left-color: var(--orange); }
.pink,
.placeholder-pink::placeholder,
.hover-pink:hover,
.active-pink:active,
.focus-pink:focus {
  color: var(--pink);
}
.background-pink,
.hover-background-pink:hover,
.active-background-pink:active,
.focus-background-pink:focus {
  background-color: var(--pink);
}
.border-pink {
  border-top-color: var(--pink);
  border-right-color: var(--pink);
  border-bottom-color: var(--pink);
  border-left-color: var(--pink);
}
.border-top-pink { border-top-color: var(--pink); }
.border-right-pink { border-right-color: var(--pink); }
.border-bottom-pink { border-bottom-color: var(--pink); }
.border-left-pink { border-left-color: var(--pink); }
.border {
  border-top-width: var(--border-width);
  border-right-width: var(--border-width);
  border-bottom-width: var(--border-width);
  border-left-width: var(--border-width);
}
.border-top { border-top-width: var(--border-width); }
.border-right { border-right-width: var(--border-width); }
.border-bottom { border-bottom-width: var(--border-width); }
.border-left { border-left-width: var(--border-width); }
.border-more {
  border-top-width: var(--border-width-more);
  border-right-width: var(--border-width-more);
  border-bottom-width: var(--border-width-more);
  border-left-width: var(--border-width-more);
}
.border-top-more { border-top-width: var(--border-width-more); }
.border-right-more { border-right-width: var(--border-width-more); }
.border-bottom-more { border-bottom-width: var(--border-width-more); }
.border-left-more { border-left-width: var(--border-width-more); }
.border-radius {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-left-radius {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.border-right-radius {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-top-radius {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.border-bottom-radius {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-top-left-radius {
  border-top-left-radius: var(--border-radius);
}
.border-top-right-radius {
  border-top-right-radius: var(--border-radius);
}
.border-bottom-left-radius {
  border-bottom-left-radius: var(--border-radius);
}
.border-bottom-right-radius {
  border-bottom-right-radius: var(--border-radius);
}
.border-radius-more {
  border-top-left-radius: var(--border-radius-more);
  border-top-right-radius: var(--border-radius-more);
  border-bottom-left-radius: var(--border-radius-more);
  border-bottom-right-radius: var(--border-radius-more);
}
.border-left-radius-more {
  border-top-left-radius: var(--border-radius-more);
  border-bottom-left-radius: var(--border-radius-more);
}
.border-right-radius-more {
  border-top-right-radius: var(--border-radius-more);
  border-bottom-right-radius: var(--border-radius-more);
}
.border-top-radius-more {
  border-top-left-radius: var(--border-radius-more);
  border-top-right-radius: var(--border-radius-more);
}
.border-bottom-radius-more {
  border-bottom-left-radius: var(--border-radius-more);
  border-bottom-right-radius: var(--border-radius-more);
}
.border-top-left-radius-more {
  border-top-left-radius: var(--border-radius-more);
}
.border-top-right-radius-more {
  border-top-right-radius: var(--border-radius-more);
}
.border-bottom-left-radius-more {
  border-bottom-left-radius: var(--border-radius-more);
}
.border-bottom-right-radius-more {
  border-bottom-right-radius: var(--border-radius-more);
}
