@custom-media --breakpoint-mobile (width < 40rem);

@custom-media --breakpoint-desktop (width >= 40rem);

:root {
  --box-sizing: border-box;

  --spacing: 0.5rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 4rem;

  --max-width: 50rem;
  --width: 50rem;
  --max-width-double: 100rem;
  --width-double: 100rem;

  --font-size: 1rem;
  --font-size-xx-large: 5rem;
  --font-size-x-large: 2.5rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.8rem;

  --border-width: 3px;
  --border-radius: 3px;

  --border-width-double: 6px;
  --border-radius-double: 6px;

  --black: hsl(0, 0%, 5%);
  --dark-gray: hsl(0, 0%, 25%);
  --gray: hsl(0, 0%, 50%);
  --light-gray: hsl(0, 0%, 75%);
  --white: hsl(0, 0%, 95%);
}
